.main_Booktable{
    border: 1px solid black;
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
}
.sideBar{
    width: 30%;
    height: auto;
    border: 1px solid green;
}
.dataDiv{
    width: 70%;
    height: auto;
    border: 1px solid red;
}
.hotelData{
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-gap: 20px;
}
.hotelData-container{
  width: 90%;
  border-radius: 5px;
  transition: 0.3s ease-in;
}