.profile-container {
  height: 110vh;
  background-color: whitesmoke;
}
.mainprofile {
  background-color: white;
  margin-top: 30px;
}
.smallcont {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.profile-img img {
  width: 90%;
  margin-bottom: 18px;
}
.profiledetail {
  margin-left: -45%;
  color: gray;
}
.profiledetail p {
  margin: 0;
  padding-top: 5px;
  display: flex;
}
.create {
  color: orangered;
  margin-left: 5px;
}
.name {
  font-size: 24px;
}
.emailicon {
  color: grey;
  margin-right: 5px;
  margin-top: 2px;
}
